<div class="contenedor-carrusel-tienda">
    <div class="owl-carousel owl-theme  owl-loaded tienda_carrusel">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                {%for i in range(8) %}
                <div class="owl-item">
                    <div class="" style="border-radius:50%;border: 1px solid red;width: 80px;">
                        <img src="{{url_for('static', filename='docs/logo_enco.png')}}" alt="" class="img-fluid">
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>