.container-servicio{
    width: 100%;
    border: 1px solid blue;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(300px, 1fr) );
}
.servicio{
    width: 300px;
    height: 300px;
    border: 1px solid green;
}

.contenedor-imagen-servicio{
    width: 500px;
    height: 500px;
    border: 1px solid red;

}

.imagen-servicio{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 90%;
}