.titulo-principal{
    font-size: 20px;
    text-align: center;

}
.contenedor-categorias{
    width: 100%;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

}
.item-categoria{
    border: 1px solid blue;
    border-radius: 25px;
    height: 200px;
    margin: 5px;
}
.responsive{
    width: 100%;
    max-width: 400px;
    height: 200px;
}

@media (min-width: 600px) {
    .contenedor-categorias{ grid-template-columns: repeat(2, 1fr); }
  }