body, html {
  min-height: 100%;
  /*background-color: #ebebeb;*/
  /*background-color: #ffffff;*/
  overflow-x: hidden;
  font-weight: 500;
  font-family: 'Montserrat',sans-serif;
}

#nav_inicio{
background-color: hsl(36, 95%, 51%);
color:rgb(118,85,24);
text-transform: uppercase;
}
#nav_inicio a:hover{
  color: #ffff;
  }
#nav_inicio .nav-link{
  color:white;
  }
#contenedor_logo{
}
.banner_1{
  border: 2px solid green;
  text-align: center;
}
.box-navbar-derecho{
  width: auto;
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  float: right;

}
.item-navbar-derecho{
  height: 50px;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin: auto;
}


/* CSS FOOTER */


a:hover, a:focus {
  text-decoration: none;
}

footer {
  background:  rgb(236,128,29);
  
}
footer h5{
  color:  white;
}
footer  p{
  color:  white;
}
footer a{
  color:  white;

}

/* CSS FOOTER END */

.boton-carro{
  width: 45px;
  height: 45px;
  background-color: rgb(236,128,29);
  border-radius: 5px;
  border: none;
  outline: none;
}
.boton-carro:focus {
  border: none;
  outline: none;
}
input{
  width: 50px;
}

/* OCULTAR CONTROLES DE LOS INPUT NUMBER*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.item-carro-imagen{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;

}

/* SIDE BAR */
.principal_sidebar{
  min-width: 100%; /* update necesario */
  max-width: 100%;  /* update necesario */
  transition: .5s ease;
  margin-left: -100%;
  position: fixed;
  min-height: 100vh;
  z-index: 9998; /* NIVEL DE CAPA */
  overflow-x: hidden; /* update*/
}
.principal_sidebar.active{
  margin-left: 0;
}
.sidebar{
  min-width: 100% ;
  transition: .5s ease;
  min-height: 100vh;
  background-color: #ebebeb;
  overflow-x: hidden;
}
.sidebar .nav-link{
  color:rgb(118,85,24);
}
.sidebar_header{
  padding: 8px 16px;
  height: auto;
  width: 100%;
  display: flex; 
}
.sidebar li {
  margin-left: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #c1c1c1;
}
.sidebar li span{
  float: left;
}
.sidebar li i{
  float: right;
}
/* VISUALIZACION DE SIDEBAR CATEGORIAS */
.next_slide{
  display: flex;
  min-width: 100%;
  overflow-x: hidden;
}
.next_sidebar{
  background-color: #ebebeb;
  transition: .5s ease;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
.next_sidebar .custom_header{
border: 1px solid blue;
width: 100%;
}
/* VISUALIZACION DE SIDEBAR CATEGORIAS FIN  */

.breadcrumb{
  background-color:#fefefe ;
}

/* DROPDOWN CATEGORIAS esqueleto PC */
#contenido_1{
  background-color: aqua;
  
  padding: 5px 5px;
  position: relative;
  z-index: 9998 ;
  height: auto;
  left: 0;
  right: 0;
  display: none;
}
@media(max-width:991px){
  .slide_categorias{
    display: none !important;
  }
}
#dropdown{
  border: 2px solid purple;
  margin-top: 5px;
  width: 100%;
}
#header_dropdown{
  border:1px solid red;
  display: inline-flex;
  width: 100%;
}
#body_dropdown{
  margin: 5px 5px
}
/* DROPDOWN CATEGORIAS  PC */

.slide_categorias{
  height: auto;
  width: 100vw;
  display: none;
  border: 1px solid red;
  position: absolute;
  z-index: 9997;
  background-color: white;
}
.imagen_categoria{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
}