{% extends "layout.html" %}

{% block encabezado %}
<link rel="stylesheet" href="{{url_for('static', filename= 'css/cuenta.css')}}">
<!-- PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<title>Mi cuenta</title>


{% endblock %}


{% block contenido %}
<!--
<div class="modal" tabindex="-1" id="modal_pdf">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cotización</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <embed src="../../../../hello_world_2.pdf" type="application/pdf" width="100%" height="500px" />

      </div>
      
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_pdf" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>
-->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="contenedor-cuenta-links">

          <div class="cuenta-link link" data-url="/cuenta/mi-perfil"><i class="fa-regular fa-user" style="height: 20px;"></i><span>Mi Perfil</span></div>
          <div class="cuenta-link link" data-url="/cuenta/mis-cotizaciones"><i class="fa-regular fa-file-lines" style="height: 20px;"></i>  Mis Cotizaciones</div>
          <div class="cuenta-link" data-url="#"><i class="fa-regular fa-heart" style="height: 20px;"></i> Mis Favoritos</div>
          <div class="cuenta-link"><i class="fa-solid fa-envelopes-bulk"></i> Suscripciones</div>
          <br>
          <a href="/logout"><div class="cuenta-link"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesion</div></a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="contenedor-cuenta-detalle">
        
        
      </div>
    </div>
  </div>
  <script>
    

    $('.contenedor-cuenta-links').on('click','.link', function(){
      var optionUrl = $(this).data("url"); // obtener la url de la opción seleccionada
      $.ajax({
          url: optionUrl,
          method: 'post',
          success: function(data) {
              // actualizar la segunda columna con el contenido devuelto por la petición
              $(".contenedor-cuenta-detalle").html(data);
          }
      });

    })

    $(".contenedor-cuenta-detalle").on("click", ".eliminar_cotizacion", function() {
      // código para eliminar cotizacion
      let url = $(this).data("url"); // obtener la url de la opción seleccionada
      console.log(url)
      alert('eliminando cotizacion nro: ', url)

    });

    $(".contenedor-cuenta-detalle").on("click", ".ver_cotizacion", function() {
      // código para eliminar cotizacion
      let url = $(this).data("url"); // obtener la url de la opción seleccionada
      console.log(url)
      document.location.href = url
      
      });

  </script>

</div>
{% endblock %}