{% extends "layout.html" %}

{% block encabezado %}
<link rel="stylesheet" href="{{url_for('static', filename= 'css/cuenta.css')}}">
<title>Mi cuenta</title>


{% endblock %}


{% block contenido %}
<h1> Hola {{ current_user.nombre}} </h1>
<div class="row">
    <div class="col-md">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Mis cotizaciones</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Mis favoritos</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Mis consultas</a>
        <a class=""  href="{{url_for('auth_bp.logout')}}">Cerrar Sessión</a>
      </div>
    </div>
    <div class="col-md d-none d-lg-block">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">home xd</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">profil xd</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">xd hackin messa</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">setings cddd</div>
      </div>
    </div>
  </div>
{% endblock %}