{% extends "layout.html" %}

{% block encabezado %}
<link rel="stylesheet" href="{{url_for('static', filename= 'css/cuenta.css')}}">
<!-- PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<title>Mi cuenta</title>


{% endblock %}


{% block contenido %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="contenedor-cuenta-links">

          <div class="cuenta-link link" data-url="/cuenta/mi-perfil"><i class="fa-regular fa-user" style="height: 20px;"></i><span>Mi Perfil</span></div>
          <div class="cuenta-link link" data-url="/cuenta/mis-cotizaciones"><i class="fa-regular fa-file-lines" style="height: 20px;"></i>  Mis Cotizaciones</div>
          <div class="cuenta-link" data-url="#"><i class="fa-regular fa-heart" style="height: 20px;"></i> Mis Favoritos</div>
          <div class="cuenta-link"><i class="fa-solid fa-envelopes-bulk"></i> Suscripciones</div>
          <br>
          <a href="/logout"><div class="cuenta-link"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesion</div></a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="contenedor-cuenta-detalle">
        
        
      </div>
    </div>
  </div>
  <script>
    $('.contenedor-cuenta-links').on('click','.link', function(){
      var optionUrl = $(this).data("url"); // obtener la url de la opción seleccionada
      $.ajax({
          url: optionUrl,
          method: 'post',
          success: function(data) {
              // actualizar la segunda columna con el contenido devuelto por la petición
              $(".contenedor-cuenta-detalle").html(data);
          }
      });

      $(".contenedor-cuenta-detalle").on("click", ".eliminar_cotizacion", function() {
        // código para eliminar cotizacion
        alert('eliminarmcotizacion ')
     });

     $(".contenedor-cuenta-detalle").on("click", ".ver_pdf", function() {
      // código para eliminar cotizacion
      const doc = new jsPDF();

      doc.text("Hello world!", 10, 10);
      doc.save("a4.pdf");
      // Guardar el pdf en el cliente
      //doc.save('tabla_productos.pdf');
        });

      });
  </script>

</div>
{% endblock %}