<div class="cuenta-detalle-header">
    <h1>Mi Perfil</h1>
    <small>Aqui encontraras tus datos personales.</small>
  </div>
  <div class="cuenta-detalle-body mt-3">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
      </div>
      <input type="text" class="form-control" value="{{current_user.nombre}}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
      </div>
      <input type="text" class="form-control" value="{{current_user.apellido}}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">RUT</span>
      </div>
      <input type="text" class="form-control" value="{{current_user.rut}}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Correo</span>
      </div>
      <input type="text" class="form-control" value="{{current_user.correo}}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
      </div>
      <input type="text" class="form-control" placeholder="+56 ">
    </div>

    <div class="input-group mb-3">
          <input type="checkbox" aria-label="Checkbox for following text input"> Cambiar contraseña
    </div>
    <div>
      <button class="btn" style="background-color:  hsl(36, 95%, 51%);color:white;">Guardar Cambios</button>
    </div>
  </div>