{% extends 'layout.html' %}
{% block encabezado %}
    
{% endblock %}

{% block contenido %}
<div class="container-fluid" id="contenedor-resetear-contrasena">
    <h1> Ingresa tu nueva contraseña</h1>
    <div class="row">
        <div class="col">
            <form id="formulario"  method="post" class="form">
                <!-- CAMPO CORREO -->
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <div class="col-sm-10">
                        <input id="contraseña" type="text" class="form-control">
                        <span></span>
                    </div>
                </div>
                <!-- RECAPTCHA-->
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm" >
                        <input type="submit" value="Enviar" class="btn btn-primary" style="width: auto;">
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>
<script>
    
</script>
{% endblock %}