{% extends "layout.html" %}

{% block encabezado %}
<title>Producto</title>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="contenedor-producto-imagen">
                <div class="producto-imagen"> imagen </div>
                <div class="producto-imagenes">imagenes</div>
            </div>
        </div>
        <div class="col-sm">
            <div class="contenedor-producto-detalle">
                <h1 class="producto-titulo">trupan del bueno</h1>
                <h1>165.600 c/u </h1>
            </div>

        </div>

    </div>
</div>
{% endblock%}