{% extends "layout.html" %}

{% block encabezado %}

<link rel="stylesheet" href="{{url_for('static', filename= 'css/servicios.css')}}">
<title>Servicios</title>
{% endblock %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
                VENTANALES
                <div class="contenedor-imagen-servicio">
                    <img class="imagen-servicio" src="/imagen-producto/ventana-custom-2.jpg" alt="">
                </div>
            
        </div>
        <div class="col-md-6">
                PUERTAS
                <div class="contenedor-imagen-servicio">
                    <img class="imagen-servicio" src="/imagen-producto/ventana-custom-1.jpg" alt="">
                </div>
            
        </div>
    </div>




</div>



{% endblock%}