{% extends "layout.html" %}

{% block encabezado %}

<link rel="stylesheet" href="{{url_for('static', filename= 'css/tienda.css')}}">
<title>Tienda</title>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
  
    <h1 class="titulo-principal">CATEGORIAS</h1>

</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Tableros</h1>
      <p class="lead">Lo mejor en tableros de construccion y otros.</p>
    </div>
  </div>
  

<div class="contenedor-categorias">   
      <a class="item-categoria" href="/categoria">Planchas</a>
      <a class="item-categoria" href="/categoria">Quincalleria</a>
      <a class="item-categoria" href="/categoria">madera seca</a>
      <a class="item-categoria" href="/categoria">otros</a>  
</div>
{% endblock%}