{% extends "layout.html" %}

{% block encabezado %}

<link rel="stylesheet" href="{{url_for('static', filename= 'css/producto.css')}}">
<script type="text/javascript"
  src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
<title>Producto</title>
{% endblock %}

{% block contenido %}

<div class="modal fade" id="modal-carro-2" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-2-contenido">
          <div id="modal-2-imagen"></div>
          <p id="modal-2-mensaje"></p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- CONTENIDO -->


<div class="container" style="background-color: #fefefe;">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:history.back()"><i class="fa fa-arrow-left"></i> Volver</a></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-lg-7">
      <!-- Imagen producto-->
      <div class="contenedor-producto-imagen">
        {% if producto %}
        <div class="producto-imagen">
          <div class="favorito"><i class="far fa-heart" style="font-size: 40px;"></i></div>
          {% if producto.imagenes %}
          <img id="imagen" class="img-fluid"
            src="{{url_for('api_bp.imagen_producto' , nombre = producto.imagenes[0] )}}" alt="">
          {% else %}
          <img id="imagen" class="img-fluid" src="{{url_for('api_bp.imagen_producto' , nombre = 'no_disponible.png' )}}"
            alt="...">
          {% endif %}
        </div>
        {%endif%}
        <div id="galeria" class="d-flex flex-md-column flex-row producto-imagenes">

          {% for imagen in producto.imagenes %}
          <a class="imagenes" data-image="/imagen-producto/{{imagen}}">
            <img src="/imagen-producto/{{imagen}}" class="img-fluid" alt="Responsive image"></a>
          {% endfor %}

        </div>
      </div>
    </div>
    <!-- Detalle producto-->
    <div class="col-lg-5">
      <div class="contenedor-producto-detalle">
        <div id="producto-zoom">

        </div>
        <div class="header-producto-detalle">
          <div class="d-flex  justify-content-between">
            {% if producto and producto.marca %}
            <strong> {{producto.marca.upper()}}</strong>
            {% endif %}

            {%if producto and producto.codigo %}
            <small>Codigo Producto: {{producto.codigo}} </small>
            {%endif%}
          </div>

          <div class="producto-titulo">{{producto.nombre.upper()}}</div>

          <div><i class="fa-solid fa-check"></i> Despacho a domicilio</div>

          <div class="rating">
            <span class="star" data-rating="1">&#9733;</span>
            <span class="star" data-rating="2">&#9733;</span>
            <span class="star" data-rating="3">&#9733;</span>
            <span class="star" data-rating="4">&#9733;</span>
            <span class="star" data-rating="5">&#9733;</span>
          </div>

        </div>
        {% if producto and producto.descuento > 0 %}
        <div class="d-flex justify-content-between">
          <span class="producto-precio">
            ${{"{:,}".format(producto.precio).replace(',','.')}}</span>
          <span class="producto-descuento">{{producto.descuento}}%</span>
        </div>
        {%endif%}
        <div>Cantidad</div>
        <div class="producto-accesos">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="button" onclick="disminuir()"> - </button>
            </div>
            <input type="number" id="cantidad" min="1" value="1" aria-label="Example text with button addon"
              aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" onclick="aumentar()"> + </button>
            </div>
          </div>
          <div class="d-inline-flex botones">
            <button class="btn btn-primary" id="btn-agregar"
              data-producto_id="{{producto.producto_id}}">Agregar</button>
            <button class="btn btn-primary" onclick="ver_carro()">ver carro</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col">
      <p>Ficha tecnica</p>
      <table class="table table-striped">

        <tbody>
          {% if producto and producto.ficha_tecnica %}
          {% for key ,value in producto.ficha_tecnica.items() %}
          <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
          {%endfor%}
          {%endif%}
        </tbody>

      </table>
    </div>
    <div class="col">
      <p>Descripción del producto</p>
      {% if producto.detalle.descripcion %}
      <p>{{producto.detalle.descripcion}}</p>
      {%endif%}
    </div>
  </div>
</div>

<div class="container text-center mt-3">
  <img id="test_img" src="{{url_for('static', filename='docs/banner.jpg')}}" class="img-fluid" alt="" width="600">
</div>





<script>

  $(document).ready(function () {

    if ($(window).width() > 991) { // Mayor  a 992PX (LG desktop)
      // initiate ElevateZoom on the main image
      console.log('LG zoom activado: ', $(window).width())
      $('#imagen').ezPlus({
        gallery: 'galeria',
        cursor: 'pointer',
        //Zoom color de fondo y opacidad.
        tint: true,
        tintColour: '#8d918e', tintOpacity: 0.3,
        //Zoom en div.
        zoomWindowPosition: 'producto-zoom',
        zoomWindowHeight: 430,
        zoomWindowWidth: 430,
        borderSize: 0,
        easing: true,
        //Scroll zoom
        scrollZoom: true
      });

      // add a click event listener to trigger the Fancybox gallery on the main image
      $('#imagen').bind('click', function (e) {
        var ez = $('#imagen').data('ezPlus');
        console.log(ez)
        return false;
      });

    } else { // Menor o igual 768px (dispositivos móviles)
      $('#galeria a').on('click', function (e) {
        var url = $(this).data('image');
        $('#imagen').attr('src', url)
      });
    }

    $('#test_img').ezPlus({
      //Zoom color de fondo y opacidad.
      zoomType: 'lens'

    });

  })
  function aumentar() {
    cantidad = $('#cantidad').val()
    $('#cantidad').val(parseInt(cantidad) + 1)
  }

  function disminuir() {
    cantidad = $('#cantidad').val()

    if (parseInt(cantidad) > 1) {
      $('#cantidad').val(parseInt(cantidad) - 1)
    }
  }


  $('#btn-agregar').on('click', function () {
    let id = $(this).data('producto_id')
    console.log('agregando', id)
    $('#modal-2-imagen').empty()
    $('#modal-2-mensaje').empty()
    cantidad = $('#cantidad').val()
    nombre_producto = $('.producto-titulo').text()
    console.log('agregando producto ', id, ' cantidad ', cantidad, 'al carro')

    dato = JSON.stringify({
      "producto_id": id,
      "cantidad": parseInt(cantidad),
      "nombre_producto": "{{producto.nombre}}",
      "url_imagen": "{{producto.imagenes[0]}}",
      "precio_unitario": "{{producto.precio}}"
    })

    $.ajax({
      url: "{{url_for('cart_bp.agregar_al_carro')}}",
      type: 'post',
      contentType: "application/json; charset=utf-8",
      data: dato,
      success: function (resp) {
        console.log(resp)
        if (resp.mensaje) {
          console.log('ahi respuesta')
          console.log(resp.producto)
          producto = resp.producto
          img = '<img class="item-carro-imagen" src="/imagen-producto/' + producto.url_imagen + '">'
          $('#modal-2-imagen').append(img)
          $('#modal-2-mensaje').append(resp.mensaje)
          $('#modal-carro-2').modal('show')
        }
      }
    });

  })
  // Obtener todos los elementos de las estrellas
  const stars = document.querySelectorAll('.star');

  // Agregar evento de clic a cada estrella
  for (let i = 0; i < stars.length; i++) {
    stars[i].addEventListener('click', function () {
      const rating = this.getAttribute('data-rating');

      for (let j = 0; j < rating; j++) {
        stars[j].classList.add('active');
      }

      for (let j = rating; j < stars.length; j++) {
        stars[j].classList.remove('active');
      }

      alert(`Has valorado el producto con ${rating} estrellas`);
    });
  }


</script>


<script src="{{url_for('static', filename= 'scripts/producto.js')}}"></script>

<!--
<div class="container">
    <div class="productos-relacionados">
        <div class="contenedor-vista-productos" id="cont">
            {% if productos %}
            {% for item in productos %}

                <div class="card" id="card-contenido">
                  {% if item[3] != None %}
                    <img src="{{url_for('api_bp.imagen_producto' , nombre = item[3] )}}" class="card-img-top" alt="...">
                  {% else %}
                    <img src="{{url_for('api_bp.imagen_producto' , nombre = 'no_disponible.png' )}}" class="card-img-top" alt="...">
                  {% endif %}

                    <div class="card-body">
                      <a class="card-title"  id="card-titulo" href="/producto">{{item[0]}}</a>
                      <p class="card-text" id="card-precio">{{item[2]}}</p>
                      <a class="btn btn-lg" href="#">
                        <span>Añadir</span>
                      </a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
                  
            </div>
    </div>

</div>-->
{% endblock%}