<div id="contenido_1">
{% if categorias != None %}
 <script>
    console.log({{categorias|safe}}) //test 
</script>
{% set rutas_id = rutas[0] %} 
{% set rutas_url = rutas[1] %} 

{% for item in categorias[0] %} {# [id_padre, padre, subcategorias, nivel] #}
    
    
    {% set index = loop.index0 %}
    {% if categorias[3][index] != 0 %} <!-- NO ES CATEGORIA FINAL -->
    <div class="view_{{categorias[0][index]}}">

    <div id="header_dropdown">
            
            <!-- VOLVER MD -->
            <a href="#" class="list-group-item d-lg-none close_next_sidebar">Volver</a>

            {% if categorias[3][index] > 1 %}  
            <!-- VOLVER LG -->
            <a href="#" class="list-group-item d-none d-lg-block inicio_slide_categorias">Volver</a>
            <!-- VER TODO LG-->  
            <a href="/store/{{categorias[1][index]}}" class="list-group-item d-none d-lg-block">ver todo {{categorias[1][index].replace('-',' ')}}{#categorias[0][index]#}</a>
            <!-- CERRAR LG -->
            <a href="#" class="list-group-item d-none d-lg-block">Cerrar lg</a>
            {#<p class="btn bg-none d-none d-lg-block">nivel {{categorias[3][index]}} | loop:{{index}}</p>#}
            {%endif%}
            
            <!-- CERRAR SIDEBAR MD-->
            <a href="#" class="list-group-item d-lg-none close-sidebar">Cerrar md</a>
            
        
    </div>

    
    <div class="row" id="body_dropdown">
        {#<a href="#" class="list-group-item d-lg-none agregar">add and move</a>
        <a href="#" class="list-group-item d-lg-none volver">volver</a>#}
        {% set index0 = rutas_id.index(categorias[0][index]) %}
        <a href="/{{rutas_url[index0]}}" class="list-group-item d-lg-none">ver todo {{categorias[1][index]}}</a>

        {% set subcategorias = categorias[2][index].split(',') %}
        {% for item in subcategorias %}
        <div class="col-lg">
            <div class="d-none d-lg-block imagen_categoria">
                imagen
            </div>
            {% set new_item = item.split(';') %} 
            {% set aux_id = new_item[0]|int %} {# id de la categoria, usado para buscar la ruta y subcategorias #}
            {% if  aux_id in rutas_id %}
                {% set index1 = rutas_id.index(aux_id) %}
                {% if categorias[3][index] == 1 %}
                <a href="#" class="list-group-item list-group-item-action categoria_link" id="{{new_item[0]}}">{{new_item[1].replace('-',' ')}}</a>
                {% elif categorias[3][index] == 2  %}
                <a href="/{{rutas_url[index1]}}" class="list-group-item list-group-item-action d-none d-lg-block" id="{{new_item[0]}}">{{new_item[1].replace('-',' ')}}</a>
                <a href="#" class="list-group-item list-group-item-action d-lg-none categoria_link" id="{{new_item[0]}}">{{new_item[1].replace('-',' ')}}</a>
                {% elif categorias[3][index] == 3 %}
                <a href="/{{rutas_url[index1]}}" class="list-group-item list-group-item-action" id="{{new_item[0]}}">{{new_item[1].replace('-',' ')}}</a>
                {% endif %}
            {%endif%}
            

        {% if categorias[3][index] > 1 %}   <!-- Crea lista de subcategorias lvl 3-->
            
            {% set aux_list_id = categorias[0] %}
            {% if  aux_id in aux_list_id %}
            {% set aux_id2 = aux_list_id.index(aux_id) %}
            
            <ul class="list-unstyled d-none d-lg-block">
                {% for item in (categorias[2][aux_id2]).split(',') %}
                {% set aux_subcategoria = item.split(';')%}
                <li><a href="/store/{{categorias[1][index]}}/{{new_item[1]}}/{{aux_subcategoria[1]}}">{{aux_subcategoria[1].replace('-',' ')}}</a></li>
                {%endfor%}
            </ul>
            {%endif%}
        {% endif %}   
        </div>
        {%endfor%}
    </div>
    {#else%} <!-- ES CATEGORIA FINAL -->
    <div class="">
        <ul>
        {% set subcategorias = categorias[2][index].split(',') %}
        {% for item in subcategorias%}
            <li>{{item}}</li>
        {% endfor %
        </ul>
    </div>#}
    </div>
    {%endif%}
    
    {%endfor%}
    {%endif%}
   
</div>